<?xml version="1.0" encoding="UTF-8"?>
<container>
    
    <services>
        
        <!-- request handler definition -->
<!--        <service id="request_handler" class="com.marvin.component.dialog.RequestHandler">
            <argument type="service" ref="event_dispatcher"/>
            <argument type="service" ref="controller.resolver"/>
            <argument type="service" ref="argument_resolver"/>
        </service>-->
        
    </services>
</container>
